{# filepath: /home/nch/projects/studio-prunelle/templates/admin/user/_form.html.twig #}
{{ form_start(form, {'attr': {'class': 'needs-validation'}}) }}
    <div class="mb-3">
        {{ form_label(form.email) }}
        {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.email) }}
    </div>
    
    <div class="mb-3">
        {{ form_label(form.roles) }}
        {{ form_widget(form.roles, {'attr': {'class': 'form-check'}}) }}
        {{ form_errors(form.roles) }}
    </div>
    
    <div class="mb-3">
        {{ form_label(form.plainPassword.first) }}
        {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.plainPassword.first) }}
    </div>
    
    <div class="mb-3">
        {{ form_label(form.plainPassword.second) }}
        {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.plainPassword.second) }}
    </div>
    
    <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}