{% import 'form/form_macros.html.twig' as form_macros %}

{{ form_macros.form_start(form) }}

{% set general_content %}
    {{ form_row(form.nom) }}
    {{ form_row(form.categorie) }}
    {{ form_row(form.descriptionContenu) }}
    {{ form_row(form.prix) }}
{% endset %}
{{ form_macros.form_card('Informations générales', general_content) }}

{% set image_content %}
    <div class="mb-3">
        {{ form_label(form.imageFile) }}
        <div class="custom-file">
            {{ form_widget(form.imageFile, {'attr': {'class': 'form-control'}}) }}
            <div class="form-text">
                Formats acceptés : JPG, PNG - Taille max : 2Mo
            </div>
        </div>
        {{ form_errors(form.imageFile) }}
    </div>
    
    {% if planche is defined and planche.imageFilename %}
        <div class="mt-4">
            <h6>Image actuelle :</h6>
            <div class="image-preview">
                <img src="{{ asset('uploads/planches/' ~ planche.imageFilename) }}" 
                     alt="{{ planche.nom }}" 
                     class="img-thumbnail" 
                     style="max-width: 200px;">
            </div>
        </div>
    {% endif %}
{% endset %}
{{ form_macros.form_card('Image', image_content) }}

{{ form_macros.buttons(button_label|default('Enregistrer'), 'save', 'app_planche_index') }}

{{ form_macros.form_end(form) }}
