{% import 'form/form_macros.html.twig' as form_macros %}

{{ form_macros.form_start(form) }}

{% set general_content %}
    <div class="row">
        <div class="col-md-6">{{ form_row(form.code) }}</div>
        <div class="col-md-6">{{ form_row(form.genre) }}</div>
    </div>
    {{ form_row(form.nom) }}
    {{ form_row(form.active) }}
{% endset %}
{{ form_macros.form_card('Informations générales', general_content) }}

{% set address_content %}
    {{ form_row(form.rue) }}
    <div class="row">
        <div class="col-md-8">{{ form_row(form.ville) }}</div>
        <div class="col-md-4">{{ form_row(form.codePostal) }}</div>
    </div>
{% endset %}
{{ form_macros.form_card('Adresse', address_content) }}

{% set contact_content %}
    <div class="row">
        <div class="col-md-6">{{ form_row(form.telephone) }}</div>
        <div class="col-md-6">{{ form_row(form.email) }}</div>
    </div>
{% endset %}
{{ form_macros.form_card('Contact', contact_content) }}

{{ form_macros.buttons(button_label|default('Enregistrer'), 'save', 'app_ecole_index') }}

{{ form_macros.form_end(form) }}
